{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-medium bg--sky-900 text__color-sky-100 body__footer--down">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-6-tablet">
                    <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">{{ package.name }}</h1>
                    <h2 class="title is-2 has-text-centered text__color-sky-100">€{{ package.price }}</h2>
                </div>
            </div>
            <div class="columns is-multiline is-centered">
                <div class="column is-6-tablet">
                    <div class="block">
                        <h3 class="title is-3 text__color-sky-100 text__shadow--dark">Included in this package:</h3>
                        <ul class="is-size-5">
                            {% for goodie in goodies %}
                            <li>{{ goodie }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <form action="{% url 'add_to_bag' package.id %}" method="POST">
                        {% csrf_token %}
                            <div class="field">
                                <label for="quantity" class="is-size-4 has-text-weight-medium">Number of packages
                                </label>
                                <div class="control">
                                    <!-- type attribute number not supported by Bulma -->
                                    <input id="quantity" name="quantity" class="input is-link" type="text" min="1"
                                        maxlength="99" pattern="^[0-9]$" placeholder="" value="" data-item_id="{{ ticket.id }}"
                                        id="id_qty_{{ ticket.id }}" aria-label="quantity">
                                </div>
                            </div> <!-- end of field -->
                            <div class="field">
                                <div class="control">
                                    <input class="button input--light my-1" type="submit" value="Add to shopping bag">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </div>
                    </form>
                </div> <!-- end of column -->
            </div> <!-- end of columns -->
        </div> <!-- end of container -->
    </div> <!-- end of body -->
</section>
{% endblock %}