{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-small bg--sky-900 text__color-sky-100">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered text__color-sky-100">Tickets</h1>
            <div class="columns is-multiline is-centered">
                <div class="column  my-2">
                    <p class="is-size-5">
                    Tickets allow you to customize your experience at SciFi Zone 2022. Mix as many tickets as you like. Please note that Autograph and Photoshoot tickets are valid only in combination with either any valid Standard Ticket or in addition to a valid Package.
                    </p>
                </div>
            </div>
            <div class="columns is-multiline">
                    {% for ticket in tickets %}
                    <div class="column is-6-tablet is-4-desktop my-2">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title is-centered">
                                    <a href="{% url 'ticket_detail' ticket.id %}">{{ ticket.name }}</a>
                                </p>
                            </header>
                            <div class="card-image">
                                <figure class="image is-128x128 mx-auto mt-5">
                                    <img src="http://placekitten.com/g/128/128" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    € {{ ticket.price }}.00
                                </div>
                            </div>
                        </div>

                    </div> <!-- end of column -->
                    {% endfor %}
                    <hr>
            </div> <!-- end of columns -->
            <div class="columns is-multiline">
                <div class="column has-text-centered mt-5 mb-2 hr-top">
                    <p class="is-size-4">Want to make even more out of your visit?</p>
                    <p class="is-size-4">Take a look at our <a class="has-text-weight-semibold text__color-sky-100" href="{% url 'packages' %}">Packages!</a></p>
                </div>
            </div>
        </div> <!-- end of container-->
    </div> <!-- end of hero-body -->

</section>

{% endblock %}