{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-link is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Tickets</h1>
            <div class="columns is-multiline">

                    {% for ticket in tickets %}
                    <div class="column is-6-tablet is-4-desktop my-2">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title is-centered">
                                    <a href="">{{ ticket.name }}</a>
                                </p>
                            </header>
                            <div class="card-image">
                                <figure class="image is-128x128">
                                    <img src="http://placekitten.com/g/128/128" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    € {{ ticket.price }}
                                </div>
                            </div>
                        </div>

                </div> <!-- end of column -->
                {% endfor %}
            </div> <!-- end of columns -->
        </div> <!-- end of page 1/2 -->
    </div> <!-- end of page 2/2 -->

</section>

{% endblock %}