{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<section class="hero is-medium bg--sky-900 text__color-sky-100">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">Your shopping bag</h1>
            {% if bag_items %}
            <!-- bag summary -->
            <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-4-tablet has-text-centered">
                    <p class="is-size-3 text__shadow--dark">Items: {{ item_count }}</p>
                    <p class="is-size-4">{{VAT_PERCENTAGE}}%  VAT</p>
                </div> <!-- end of column -->
                <div class="column is-4-tablet has-text-centered">
                    <p class="is-size-3 has-text-weight-semibold text__shadow--dark">€{{ grand_total }} </p>
                    <p class="is-size-4 has-text-weight-medium">€{{ vat }} </p>
                </div> <!-- end of column -->
            </div> <!-- end of columns -->
            <div class="columns is-multiline is-centered">
                <div class="column is-6-tablet">
                    <h2 class="title is-2 has-text-centered text__color-sky-100 text__shadow--dark">Grand Total €{{grand_total}}</h2>
                    <div class="control has-text-centered">
                        <a href="{% url 'checkout' %}" class="button mb-4">Checkout</a>
                    </div>
                </div>
            </div>
            <!-- iterate through bag items -->
            {% for item in bag_items %}
                <div class="columns is-mobile is-multiline is-centered bag-item card__box-shadow">
                    <div class="column is-5-tablet">
                        <p class="is-size-3">{{ item.ticket.name }} </p>
                        <p class="is-size-5">Number of tickets: {{ item.quantity }}</p>
                        <field class="is-grouped has-addons">
                        <p class="control">
                            <!-- mb-1 needed for mobile devices, my-1 used to make it look even -->
                            <a href="" class="button my-1">Adjust</a>
                            <a href="" class="button my-1 remove">Remove</a>
                        </p>
                        </field>
                    </div>
                    <div class="column is-5-tablet">
                        <p class="is-size-3">€{{ item.ticket.price }} per ticket</p>
                        <p class="is-size-3">Sub-total: € {{ item.ticket.price | calc_subtotal:item.quantity }} </p>
                    </div>
                </div> <!-- end of columns -->
                <div class="columns is-mobile is-centered">
                    <div class="column is-5-tablet">
                        <!-- create space between order items -->
                    </div>
                </div>
            {% endfor %}
                <div class="columns is-mobile">
                    <div class="column is-6-tablet">
                        <div class="field is-grouped has-addons">
                            <p class="control">
                                <a href="" class="button">Empty bag</a>
                            </p>
                        </div>
                    </div>
                    <div class="column is-6-tablet">
                        <div class="field is-grouped has-addons is-pulled-right">
                            <p  class="control">
                                <a href="" class="button">Keep shopping</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="columns is-multiline is-centered">
                <div class="column">
                    <p class="is-size-4 has-text-centered">You haven't added any tickets or packages to your bag.</p>
                    <a href="{% url 'tickets' %}">Go to Tickets page</a>
                </div> <!-- end of column -->
            </div> <!-- end of columns -->
            {% endif %}
        </div> <!-- end of container -->
    </div> <!-- end of body -->
</section>
{% endblock %}