{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-primary is-large hero-image">
    <div class="hero-body">
        <h1 class="title is-1 ">
            Background image and convention title here
        </h1>
        <h2 class="title is-2 has-text-centered">
            Change colors later
        </h2>
    </div>
</section>
<section class="hero is-info is-medium actors">
    <div class="hero-body">
        <h2 class="title is-2 ">
            Actor images  here
        </h2>
        <div class="columns">
            {% for actor in actors %}
                <div class="column">
                    <figure class="image is-3-by-5">
                        <img src="{{ actor.star_image_url }}" alt="{{ actor.star_name }}">
                    </figure>
                    <p class="has-text-centered">{{ actor.star_name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="hero is-success is-medium opening-times">
    <div class="hero-body">
        <h2 class="title is-2">
            Opening times here
        </h2>
        <h2 class="title is-2 has-text-centered">
            CTA here
        </h2>
    </div>
</section>
{% endblock %}