{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<section id="wrapper" class="hero is-fullheight-with-navbar bg--sky-900 text__color-sky-100">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">Search results</h1>
            <div class="columns is-multiline is-centered">
                <div class="column is-10 is-6-tablet has-text-centered">
                    <h2 class="subtitle is-3 text__color-sky-100 text__shadow--dark">Your search found:
                    </h2>
                        <ul>
                            {% for result in search_results %}
                                <li>
                                    <article>
                                        <h3 class="title is-3 text__color-sky-100 text__shadow--dark">
                                            {% if result.url %}<a href="{{result.url}}">{% endif %}
                                            {{result.title}}
                                            {% if result.url %}</a>{% endif %}
                                        </h3>
                                        {% if result.description %}
                                            <p class="is-5">{{result.description}}</p>
                                        {% endif %}
                                    </article>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> <!-- end of column -->
            </div> <!-- end of columns -->
        </div> <!-- end of container -->
    </div> <!-- end of body -->
</section>
{% endblock %}