{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<section id="wrapper" class="hero is-fullheight-with-navbar bg--sky-900 text__color-sky-100">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">Site Notice</h1>
            <div class="columns is-multiline is-centered">
                <div class="column is-10 is-6-tablet has-text-centered">
                    <h2 class="subtitle is-3 text__color-sky-100 text__shadow--dark">Information
                    pursuant to Sect. 5 German Telemedia Act (TMG)
                    </h2>
                        <div class="content is-size-4">
                            <p class="mb-1">Scott Böning</p>
                            <p class="mb-1">Färbergraben 6</p>
                            <p class="mb-1">94469 Deggendorf</p>
                            <p class="mb-1">Germany</p>
                        </div>
                    </div> <!-- end of column -->
            </div> <!-- end of columns -->
            <div class="columns is-multiline is-centered">
                <div class="column is-10 is-6-tablet has-text-centered">
                    <h2 class="subtitle is-3 text__color-sky-100 text__shadow--dark">Contact
                    </h2>
                        <div class="content is-size-4">
                            <p class="mb-1">Phone: +49 1523 2788911</p>
                            <p class="mb-1">Telefax: +49 991 40861330</p>
                            <p class="mb-1">E-mail: scott.boening@gmx.de</p>
                        </div>
                </div> <!-- end of column -->
            </div> <!-- end of columns -->
        </div> <!-- end of container -->
    </div> <!-- end of body -->
</section>
{% endblock %}