{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <section id="wrapper" class="hero is-fullheight-with-navbar bg--sky-900 text__color-sky-100">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">Timetable</h1>
                    <div class="columns is-multiline is-centered">
                        <div class="column is-10 is-6-tablet">
                            <p class="is-size-3 mb-5 has-text-centered has-text-weight-semibold">Our timetable will be available 6 weeks before the opening ceremony on August, 26th, 2022!</p>
                        </div> <!-- end of column -->
                    </div> <!-- end of columns -->
                    <div class="columns is-multiline is-centered">
                        <div class="column is-10 is-6-tablet px-5 py-5 card__box-shadow bg--sky-800">
                            <h2 class="title is-2 mb-5 text__color-sky-100 text__shadow--dark">What we have planned so far:</h2>
                                <ul class="is-size-4">
                                    <li>Each guest will participate in the opening and closing ceremonies</li>
                                    <li>Each guest will participate in at least one panel and all guests will have a panel of their own</li>
                                    <li>Guests will be available for autographs throughout the event when they are not at a panel and outside of photoshoot sessions</li>
                                    <li>There will be designated times for photoshoot sessions for each guest on each day of the convention</li>
                                    <li>There will be several panels including multiple guests
                                        <ul class="ml-4 li__icon--panel">
                                            <li>We will have one Star Trek panel including John de Lancie, Jason Isaacs, Anthony Rapp, and Wilson Cruz</li>
                                            <li>Seth MacFarlane and Scott Grimes will hold an Orville panel</li>
                                            <li>John de Lancie and John Barrowman will hold a mischiefmakers-in-chief panel</li>
                                            <li>Krysten Ritter, Elizabeth Olsen, Summer Glau, and Dominique Tipper will hold a women in SciFi panel</li>
                                            <li>Anthony Rapp and Wilson Cruz will hold a gayness in SciFi panel</li>
                                            <li>Stay tuned for more panels!</li>
                                        </ul>
                                    </li>
                                </ul>
                        </div> <!-- end of column -->
                    </div> <!-- end of columns -->
            </div> <!-- end of container -->
        </div> <!-- end of body -->
    </section>
{% endblock %}
