.env
*.sqlite3
__pycache__/
*.pyc
ms4.code-workspace
.vscode/
compare.py
bugs.txt
questions_for_call.txt
compare.html
cert.pem
key.pem
127.0.0.1-key.pem
127.0.0.1.pem
localhost-key.pem
localhost.pem
