{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-primary is-small">
    <div class="hero-body">
        <h1 class="title is-1 has-text-centered">
            {{ actor.star_name }}
        </h1>
        <div class="columns is-centered">
            <div class="column is-4-tablet">
                <figure class="image is-3-by-5">
                    <img src="{{ actor.star_image_url }}" alt="{{ actor.star_name }}">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="hero is-info is-small">
    <div class="hero-body">
        <h2 class="title is-2">Info</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin aliquam ultrices sagittis orci. Vitae congue mauris rhoncus aenean vel. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Massa tincidunt nunc pulvinar sapien et ligula. Vel pharetra vel turpis nunc. At volutpat diam ut venenatis tellus in metus vulputate. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Vitae purus faucibus ornare suspendisse. Vel fringilla est ullamcorper eget nulla. Leo in vitae turpis massa sed elementum tempus egestas sed. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Et egestas quis ipsum suspendisse ultrices. Commodo viverra maecenas accumsan lacus vel. A lacus vestibulum sed arcu. Velit laoreet id donec ultrices tincidunt arcu non. Velit aliquet sagittis id consectetur purus.
        </p>
        <h2 class="title is-2 mt-3">Appearance info</h2>
        <p>Add info to fixtures, create field in model, then add to view and context</p>
    </div>
</section>
<section class="hero is-success is-small">
    <div class="hero-body">
        <div class="columns is-multiline is-centered">
            <div class="column is-6-tablet">
                <h2 class="title is-2 has-text-centered">
                    Autograph
                </h2>
                    {% for ticket in tickets %}
                        {% if actor.star_autograph_category == ticket.price_category and "Autograph" in ticket.name %}
                            <p  class="is-size-3 has-text-centered">€ {{ ticket.price }}</p>
                        {% endif %}
                    {% endfor %}
                <div class="control has-text-centered">
                    <input class="button" type="submit" value="Buy now">
                    <input type="hidden" name="redirect_url" value="">
                </div>
            </div>
            <div class="column is-6-tablet">
                <h2 class="title is-2 has-text-centered">
                    Photoshoot
                </h2>
                    {% for ticket in tickets %}
                        {% if actor.star_photoshoot_category == ticket.price_category and "Photoshoot" in ticket.name %}
                            <p  class="is-size-3 has-text-centered">€ {{ ticket.price }}</p>
                        {% endif %}
                    {% endfor %}
                <div class="control has-text-centered">
                    <input class="button" type="submit" value="Buy now">
                    <input type="hidden" name="redirect_url" value="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
