{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-medium bg--sky-900">
    <div class="hero-body">
        <h2 class="title is-2 has-text-centered text__color-sky-100 heading__text--shadow-blue">
            Guests at SFZ 2022
        </h2>
        <div class="columns is-multiline">
            {% for actor in actors %}
                <div class="column is-2-tablet has-text-centered">
                    <figure class="image is-3-by-5 mb-2 portrait__border card__box-shadow">
                        <img src="{{ actor.star_image_url }}" alt="{{ actor.name }}">
                    </figure>

                    <a class="is-size-4 text__color-sky-100 text__shadow--light" href="{% url 'guest_detail' actor.id %}">{{ actor.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}