{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<!-- Order summary -->
<section class="hero is-link is-small">
    <div class="hero-body">
            <h1 class="title is-1 has-text-centered">Checkout</h1>
            <h2 class="subtitle is-3">Order Summary ({{ item_count }} items)</h2>
            {% for item in bag_items %}
                <div class="columns is-multiline is-centered has-background-grey">
                    <div class="column">
                        <div class="level is-mobile">
                            <div class="is-pulled-left">
                                <p class="is-size-6">Item</p>
                                <p class="is-size-5">{{ item.ticket.name }}</p>
                                <p class="is-size-6">Quantity: {{ item.quantity }}</p>
                            </div>
                            <div class="is-pulled-right">
                                    <p class="is-size-6">Subtotal</p>
                                    <p class="is-size-5">€{{ item.ticket.price | calc_subtotal:item.quantity }}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of columns -->
            {% endfor %}
            <div class="columns is-multiline is-centered has-background-success">
                <div class="column is-5-tablet">
                    <h2 class="title is-2 has-text-centered">Grand Total €{{grand_total}}</h2>
                </div>
            </div>
    </div> <!-- end of body -->
</section>

<!-- Billing address -->
<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="columns is-multiline">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                <div class="column  has-background-danger">
                    {% csrf_token %}
                        <h2 class="title is-2">Billing address</h2>
                            <div class="field">
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                                {{ order_form.city | as_crispy_field }}
                                {{ order_form.state | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                                {{ order_form.country | as_crispy_field }}
                            </div>
                </div>
                <div class="column has-background-warning">
                    {% if user.is_authenticated %}
						<label for="id-save-info">Save this delivery information to my profile</label>
                        <input type="checkbox" id="id-save-info" name="save-info" checked>
					{% else %}
						<label for="id-save-info">
                            <a href="{% url 'account_signup' %}">Create an account</a> or
                            <a href="{% url 'account_login' %}">login</a> to save this information
                        </label>
					{% endif %}
                </div>
            </form>
        </div> <!-- end of columns -->
    </div> <!-- end of body -->
</section>

<section class="hero">
    <div class="hero-body">
        <form id="payment-form">
            <!-- Pass the client secret to the view so we can get the payment intent id -->
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
            <div id="payment-element">
                <!-- Elements will create form elements here -->
            </div>
            <button id="submit">Submit</button>
            <div id="error-message">
                <!-- Display error message to your customers here -->
            </div>
        </form>
    </div> <!-- end of body -->
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {# json_script needed to access template variables in external js file #}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
