/*----- GENERAL STYLES -----*/
body {
    font-family: "Saira", sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Orbitron", sans-serif;
}

.body__footer--down {
    min-height: 83vh;
}

.nth-section__footer--down {
    min-height: 30vh;
    max-height: 70vh;
}

.column--less-padding {
    padding: 0;
}

/*----- CONTAINERS -----*/

.hero__bg--nebula {
    background: url("/media/nasa_nebula_640px.jpg") no-repeat center center fixed;
    background-size: cover;
}

.order-history {
    max-height: 70vh;
    overflow-y: auto;
}
/*----- FOCUS, ACTIVE & HOVER EFFECTS -----*/
.navbar-item:hover,
.navbar-link:hover,
.navbar-burger:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

a.item-name:hover {
    color: #1e3a8a;
    text-decoration-line: underline;
}

a.item-name--light:hover,
a.link--light:hover {
    color: #e0f2fe;
    text-decoration-line: underline;
}
/* replace Bulma default values to improve contrast */
a.button.bg--blue-300:active {
    color: #eff6ff;
    border-color: #eff6ff;
}

a.button.bg--blue-300:focus {
    color: #eff6ff;
    border-color: #1e3a8a;
    text-decoration: underline;
}

.button:active,
a.button:active {
    -webkit-box-shadow: 0 5px #636363;
    box-shadow: 0 5px #636363;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

/* replace Bulma default values */
.button-cta:hover {
    border-color: #e0f2fe;
}

.button.shadow-dark:hover {
    -webkit-box-shadow: -7px -7px 14px #212020, 7px 7px 14px #3b3a3a;
    box-shadow: -7px -7px 14px #212020, 7px 7px 14px #3b3a3a;
    font-weight: bold;
}

a.button.shadow:hover {
    -webkit-box-shadow: -7px -7px 14px #0c4a6e, 7px 7px 14px #0369a1;
    box-shadow: -7px -7px 14px #0c4a6e, 7px 7px 14px #0369a1;
    font-weight: bold;
}

a.button.remove:hover {
    -webkit-box-shadow: -3px -3px 6px #7f1d1d, 3px 3px 6px #dc2626;
    box-shadow: -3px -3px 6px #7f1d1d, 3px 3px 6px #dc2626;
    font-weight: bold;
}

a.button.button-light:hover {
    -webkit-box-shadow: -7px -7px 14px #1e293b, 7px 7px 146px #0369a1;
    box-shadow: -7px -7px 14px #1e293b, 7px 7px 14px #0369a1;
}

input.update-bag:hover {
    -webkit-box-shadow: -7px -7px 14px #1e3a8a, 7px 7px 146px #1d4ed8;
    box-shadow: -7px -7px 14px #1e3a8a, 7px 7px 14px #1d4ed8;
    font-weight: bold;
}

label.radio:hover {
    color: #ffef0a;
    font-size: 110%;
}

/*----- TEXT EFFECTS -----*/
.heading__text--shadow {
    /* code from https://css-tricks.com/almanac/properties/t/text-shadow/ */
    color: #ccddff;
    text-shadow: 1px 0px 1px #882211, 0px 1px 1px #0a0a0a, 2px 1px 1px #882211, 1px 2px 1px #0a0a0a,
        3px 2px 1px #882211, 2px 3px 1px #0a0a0a, 4px 3px 1px #882211, 3px 4px 1px #0a0a0a,
        5px 4px 1px #882211, 4px 5px 1px #0a0a0a, 6px 5px 1px #882211, 5px 6px 1px #0a0a0a,
        7px 6px 1px #882211;
}

.heading__text--shadow-blue {
    /* code from https://css-tricks.com/almanac/properties/t/text-shadow/ */
    color: #e0f2fe;
    text-shadow: 0 1px 0 #1d4ed8, 0 2px 0 #1e3a8a, 0 3px 0 #0000cd, 0 4px 0 #00008b, 0 5px 0 #191970,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.text__shadow--light {
    text-shadow: 1px 1px 2px #eff6ff;
}

a.text__shadow--light:hover {
    color: #bcd9fc;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.text__shadow--blue {
    text-shadow: 1px 1px 3px #075985;
}

.text__shadow--dark {
    text-shadow: 1px 1px 3px #151616;
}

/*----- SHADOW EFFECTS -----*/
.card__box-shadow {
    -webkit-box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
    box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}

/*----- TEXT AND BACKGROUND COLORS (taken from https://tailwindcss.com/docs/customizing-colors)  -----*/
.text__color-sky-100 {
    color: #e0f2fe;
}

.bg--sky-700 {
    background-color: #0369a1;
}

.bg--sky-800 {
    background-color: #075985;
}

.bg--sky-900 {
    background-color: #0c4a6e;
}

.text__color-sky-900 {
    color: #0c4a6e;
}

.text__color-blue-50 {
    color: #eff6ff;
}

.bg--blue-300 {
    background-color: #93c5fd;
}

.bg--blue-700 {
    background-color: #1d4ed8;
}

.bg--blue-900 {
    background-color: #1e3a8a;
}

.text__color-blue-900 {
    color: #1e3a8a !important;
}

.bg--slate-800 {
    background-color: #1e293b;
}
.text__color-green-50 {
    color: #f0fdf4;
}

.bg--green-900 {
    background-color: #14532d;
}

.bg--orange-700 {
    background-color: #c2410c;
}

.bg--red-600 {
    background-color: #dc2626;
}

.text__color-red-600 {
    color: #dc2626;
}

.bg--red-900 {
    background-color: #7f1d1d;
}

.text__color-red-900 {
    color: #7f1d1d;
}

.text__color-indigo-100 {
    color: #e0e7ff;
}

.bg--indigo-900 {
    background-color: #312e81;
}
/*----- BORDERS & HR -----*/
.portrait__border {
    border: 3px #e0f2fe ridge;
}

.image__border--silver {
    border: 6px #c0c0c0 ridge;
}

.image__border--gold {
    border: 6px #ffd700 ridge;
}

.image__border--platinum {
    border: 6px #e5e4e2 ridge;
}

.image__border--diamond {
    border: 6px #b9f2ff ridge;
}

.image__border--no-name {
    border: 6px #0c4a6e ridge;
}
.hr-top {
    border-top: 3px solid white;
}

.hr-bottom {
    border-bottom: 3px solid white;
}

.hr-bottom--blue {
    border-bottom: 3px solid #0c4a6e;
}

.hr-top-bottom {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.order-item__border--groove {
    border: 4px groove #bbaa55;
}

.disclaimer__border--red {
    border: 3px ridge #dc2626;
    padding: 10px;
}

/* Allauth form formatting (taken from Boutique Ado walktrough and adapted to my project) */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.allauth-form-inner-content input,
.custom-form input,
.custom-form select {
    border-color: #93c5fd;
    margin-bottom: 0.5rem;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder,
.custom-form input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a.button,
.custom-form a.button {
    background-color: #e0f2fe;
    color: #1d4ed8;
    font-weight: 600;
}

.allauth-form-inner-content button,
.custom-form button,
input.input--light,
.allauth-form-inner-content input[type="submit"] {
    /* btn */
    display: inline-block;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    color: #1e3a8a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #93c5fd;
    border: 1px solid #1e3a8a;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.allauth-form-inner-content button:hover,
.custom-form button:hover,
input.input--light:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #e0f2fe;
    background-color: #1e3a8a;
    border-color: #e0f2fe;
}

.allauth-form-inner-content a {
    color: #93c5fd;
}

/*----- BUTTONS + INPUTS -----*/
button,
.button,
input {
    transition: all 0.3s ease-in-out;
}

.button-cta {
    border: 0.5rem #e0f2fe ridge;
}

.bag-item {
    color: #0c4a6e;
    background-color: #e0f2fe;
}

.bag-item a.button,
.bag-item input.update-bag {
    background-color: #0c4a6e;
    color: #e0f2fe;
}

.bag-item a.button.remove,
a.button.remove {
    background-color: #7f1d1d;
}

.quantity-input,
.cc-element,
.custom-image {
    max-width: 50%;
}

/* separate class needed for media query */
.custom-image--actor {
    max-width: 50%;
}
.radio + .radio {
    /* override Bulma setting */
    margin-left: 0;
}

/*----- FOOTER -----*/
.footer_padding--less {
    padding: 2rem 1rem 2rem;
}

/*----- MEDIA QUERIES -----*/
@media screen and (max-width: 768px) {
    .quantity-input {
        max-width: 100%;
    }
    .custom-image--actor {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hero__bg--nebula {
        background: url("/media/nasa_nebula_768px.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {
    .hero__bg--nebula {
        background: url("/media/nasa_nebula_1024px.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1366px) {
    .hero__bg--nebula {
        background: url("/media/nasa_nebula_1366px.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1600px) {
    .hero__bg--nebula {
        background: url("/media/nasa_nebula_1600px.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1920px) {
    .hero__bg--nebula {
        background: url("/media/nasa_nebula_1920px.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}
