<!-- footer -->
<footer id="footer" class="hero-footer footer footer_padding--less">
    <div class="level">
        <div class="level-item is-size-5 has-text-centered">
            &copy; Copyright 2022 Scott Boening.
        </div>
        <div class="level-item is-size-5">
            <span class="mx-3">
                <a href="http://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-lg fa-facebook footer_social" aria-hidden="true"></i>
                    <span class="sr-only sr-only-focusable has-text-black">Facebook</span>
                </a>
            </span>
            <span class="mx-3">
                <a href="http://www.twitter.com/scottboening" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-lg fa-twitter footer_social" aria-hidden="true"></i>
                    <span class="sr-only sr-only-focusable has-text-black">Twitter</span>
                </a>
            </span>
            <span class="mx-3">
                <a href="https://github.com/Ryagg" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-lg fa-github footer_social" aria-hidden="true"></i>
                    <span class="sr-only sr-only-focusable has-text-black">Github profile</span>
                </a>
            </span>
        </div>
        <div class="level-item is-size-5 has-text-centered">
            <a class="tile navbar-item" href="{% url 'site_notice' %} ">Site Notice</a>
        </div>
        <div class="level-item is-size-5 has-text-centered">
            <a class="tile navbar-item" href="{% url 'privacy_policy' %} ">Privacy Policy</a>
        </div>
    </div>
</footer>