<!-- footer -->
<footer id="footer" class="footer footer_padding--less">
    <div class="level">
        <div class="level-item is-size-4">
            &copy; Copyright 2021 - Scott Boening.
        </div>
        <div class="level-item is-size-4">
            <a href="http://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-lg fa-facebook footer_social" aria-hidden="true"></i>
                <span class="sr-only sr-only-focusable has-text-black">Facebook</span>
            </a>
        </div>
        <div class="level-item is-size-4">
            <a href="http://www.twitter.com/scottboening" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-lg fa-twitter footer_social" aria-hidden="true"></i>
                <span class="sr-only sr-only-focusable has-text-black">Twitter</span>
            </a>
        </div>
        <div class="level-item is-size-4">
            <a href="https://github.com/Ryagg" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-lg fa-github footer_social" aria-hidden="true"></i>
                <span class="sr-only sr-only-focusable has-text-black">Github profile</span>
            </a>
        </div>
        <div class="level-item is-size-4">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <a class="tile navbar-item" href="">Frequently Asked Questions</a>
                    <a class="tile navbar-item" href="">Site Notice</a>
                    <a class="tile navbar-item" href="">Privacy Policy</a>
                </div>
            </div>
        </div>
</footer>