<div class="column is-4-tablet">
    <div class="block">
        <fieldset>
            <legend class="is-size-4 has-text-weight-medium has-text-white">Star
            </legend>
            <div class="control">
                {% for actor in actors %}
                    {% if actor.star_autograph_category == price_category %}
                        <label class="radio">
                            <input type="radio" name="chosen_actor" value="{{ actor.name }}" required>
                                {{ actor.name }}
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
    </div>
</div>
