<div class="block">
    <div class="field">
        <label for="star_autograph" class="is-size-4 has-text-weight-medium has-text-white">Star
        </label>
        <div class="control has-icons-left">
            <input id="star_autograph" name="star_autograph" class="input is-link" type="text" minlength="8"
                maxlength="50" pattern="^[a-zA-Z0-9]{8,50}$" placeholder="Star full name" value=""
                aria-label="star_autograph" readonly>
            <span class="icon is-left has-text-link">
                <i class="fal fa-lg fa-user"></i>
            </span>
        </div>
    </div>
</div>