<div class="column is-4-tablet">
    <div class="block">
        <div class="field">
            <label for="star_autograph" class="is-size-4 has-text-weight-medium has-text-white">Star
            </label>
            <div class="control">
                {% for actor in actors %}
                    {% if actor.star_autograph_category == price_category %}
                        <label class="radio">
                            <input type="radio" name="chosen_actor" value="{{ actor.name }}">
                            {{ actor.name }}
                        </label>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
