<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="/static/css/base.css" type="text/css">

{% block content %}
<section id="wrapper" class="hero is-fullheight-with-navbar bg--sky-900 text__color-sky-100">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered text__color-sky-100 heading__text--shadow-blue">403</h1>
            <div class="columns is-multiline is-centered">
                <p class="is-size-3 mb-5 has-text-centered has-text-weight-semibold">Access to this page is restricted!</p>
                <div class="column is-10 is-6-tablet has-text-centered px-5 py-5">

                    <p class="is-size-3 mb-5">Click <a href="{% url 'home' %}" class="text__color-sky-100 link--light">here</a> to return to the homepage</p>
                </div> <!-- end of column -->
            </div> <!-- end of columns -->
        </div> <!-- end of container -->
    </div> <!-- end of body -->
</section>
{% endblock %}
